/* static/css/change_password.css */
.el-card {
    background-color: #ffffff;
    border: 1px solid #ebeef5;
    border-radius: 4px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 50px auto; /* 水平居中，上下留空 */
    width: 1190px;
    max-width: 1190px;
}

.el-card h2 {
    text-align: center;
    margin-bottom: 20px;
}

.el-card form {
    display: flex;
    flex-direction: column;
    align-items: center; /* 垂直居中 */
    gap: 10px; /* 输入框和按钮之间的间隔 */
}

.el-card input {
    width: 600px; /* 使输入框宽度一致 */
    padding: 10px;
    margin: 10px;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    text-align: center; /* 输入框内容居中 */
}

.el-card button {
    width: 625px; /* 使按钮宽度与输入框一致 */
    padding: 10px;
    margin: 10px;
    background-color: #409EFF;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.el-card button:hover {
    background-color: #66b1ff;
}

/* 模态框样式 */
.modal {
    display: none; /* 默认隐藏 */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 13%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10px auto; /* 调整为靠近顶部 */
    padding: 10px;
    border: 1px solid #888;
    width: 60%; /* 适中宽度 */
    max-height: 50px; /* 最大宽度 */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 8px;
    text-align: center; /* 内容居中 */
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}